<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand mr-auto" href="#">
        <img src="../../assets/images/logo.svg#icon-course-1">
    </a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Meni
                </a>
                <ul class="dropdown-menu">
                    <a class="dropdown-item" [routerLink]="['courses']" href="#">Kursevi</a>
                    <a class="dropdown-item" [routerLink]="['application']" href="#">Prijavi se</a>
                    <a class="dropdown-item" [routerLink]="['application-list']" href="#">Prijave</a>
                    <a class="dropdown-item" [routerLink]="['about']" href="#">O nama</a>
                </ul>
            </li>
        </ul>
    </div>
</nav>